<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orden</th>
                    <!-- <th class="px-4 py-2 text-left">Customer</th> -->
                    <th class="px-4 py-2 text-left">Direccion</th>
                    <!-- <th class="px-4 py-2 text-left">Monto</th> -->
                    <th class="px-4 py-2 text-left">Metodo de pago</th>
                    <th class="px-4 py-2 text-left">Seguimiento</th>
                    <th class="px-4 py-2 text-left">Pago</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
    </div>
</section>