<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Estatus del pedido</h1>
                <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs"><%=
                    passId %></h6>
                <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(passId) %>">
            </div>
            <% data.forEach((order) => { %>
                <% if(order.id_Ordendom == passId && order.estado != 'ENTREGADA') { %>
            <form action="/customer/orders/<%= order.id_Ordendom%>" method="POST">
                <!-- <div class="flex items-center justify-between mb-12" > -->
                    <select>
                        <option disabled selected value> -- Estado --</option>
                        <option>ENTREGADA</option>
                    </select>
                    <!-- <input type="text" name="estado" placeholder="estado de la orden"/> -->
                    <input type="submit" value="Guardar">
                <!-- </div> -->
            </form>
                <% } %>
            <% }) %>
        </div>
    </div>
</section>